.git-script: &git-script |
  cd $CI_PROJECT_DIR
  git status
  lines=$(git status -s | wc -l)
  if [ $lines -gt 0 ];then
    echo "committing eslint fixes"
    git config --global user.name "PipelineUser"
    git config --global user.email "PipelineUser@gmail.com"
    git add .
    git commit -m "fix: auto-update of eslint"
    git push -o ci.skip "https://project_access_token_name:$PROJECT_VARIABLE_WITH_ACCESS_TOKEN_VALUE@$CI_SERVER_HOST/$CI_PROJECT_PATH.git" HEAD:$CI_COMMIT_BRANCH
  else
    echo "no change, nothing to commit"
  fi

image: node:latest

stages:     # List of stages for jobs, and their order of execution
  - npm
  - lint
  - test
  - deploy

npm-functions:
  stage: npm
  script:
    - cd functions
    - echo "Running npm install"
    - npm install
    - echo "npm install is complete"
    - cd ..
  cache:
    paths:
      - functions/node_modules/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - functions/node_modules/

eslint-backend:
  stage: lint
  dependencies: 
    - npm-functions
  script:
    # Install ESLint in this docker container
    - npm install -g eslint
    # Configure ESLint (will read your .eslintrc file)
    - cd functions
    - echo "Starting eslint fix for  index.js"
    - eslint --fix index.js
    - echo "Eslint fix for index.js is done"

    - echo "Starting eslint fix for firestoreClient.js"
    - eslint --fix firestoreClient.js
    - echo "Eslint fix for firestoreClient.js is done"

    - echo "Starting eslint fix for databaseSchemas.js"
    - eslint --fix databaseSchemas.js
    - echo "Eslint fix for databaseSchemas.js is done"
    
    - *git-script
    - echo "Done"

unit-test-backend:
  stage: test
  dependencies:
    - npm-functions
  script:
    - cd functions
    - echo "Running unit tests"
    - npm run coverage
    - echo "Unit tests are complete"
  coverage: '/Code coverage: \d+\.\d+/'
  artifacts:
    expire_in: 1 year
    when: on_success
    paths:
      - functions/coverage/
  

deploy-firestore:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - echo "Deploying firestore..."
    - firebase deploy --only firestore --token $FIREBASE_TOKEN
    - echo "Firestore successfully deployed."
  only:
    refs:
      - main
    changes:
      - firestore.rules
      - firestore.indexes.json

deploy-functions:   # This job runs in the deploy stage.
  stage: deploy     # It only runs when *both* jobs in the test stage complete successfully.
  before_script:
    - npm i -g firebase-tools
  script:
    - echo "Deploying functions..."
    - cd functions
    - npm install
    - cd ..
    - firebase deploy --only functions --token $FIREBASE_TOKEN
    - echo "Functions successfully deployed."
  only:
    refs:
      - main
    changes:
      - functions/**/*

deploy-hosting:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - yarn
    - echo "Building application"
    - yarn build
    - echo "Building is done"
    - echo "Starting to deploy application"
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
    - echo "Application is deployed"
  only:
    refs:
      - main
    changes:
      - app/traste/**/*