image: node:latest

before_script:
  - npm i -g firebase-tools

stages:     # List of stages for jobs, and their order of execution
  - test
  - deploy

test:
  stage: test
  script:
    - cd functions
    - npm install
    - npm run test
    - cd ..

deploy-firestore:
  stage: deploy
  script:
    - echo "Deploying firestore..."
    - firebase deploy --only firestore --token $FIREBASE_TOKEN
    - echo "Firestore successfully deployed."
  only:
    refs:
      - main
    changes:
      - firestore.rules
      - firestore.indexes.json

deploy-functions:   # This job runs in the deploy stage.
  stage: deploy     # It only runs when *both* jobs in the test stage complete successfully.
  script:
    - echo "Deploying functions..."
    - cd functions
    - npm install
    - cd ..
    - firebase deploy --only functions --token $FIREBASE_TOKEN
    - echo "Functions successfully deployed."
  only:
    refs:
      - main
    changes:
      - functions/**/*

prod-hosting:
  stage: deploy
  script:
    - yarn
    - yarn build
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  only:
    - main